body {
    font-family: "basetica-regular", system-ui, -apple-system, sans-serif;
    letter-spacing: 0.2px;
    background-color: #1e293b;
    background-image: url("../images/hero-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}